<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Formulario de Login</mat-card-title>
    <mat-card-subtitle>Loguea pero no registra.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formularioContacto" (ngSubmit)="submit()" class="form">
      <mat-form-field appearance="fill" class="field">
      <mat-label>Nombre:</mat-label>
        <input matInput placeholder="Nombre" type="text" formControlName="nombre" required>
        <mat-error *ngIf="this.formularioContacto.get('nombre')?.errors?.['required']">
          (El nombre no puede quedar vacío)
        </mat-error>
        <mat-error *ngIf="this.formularioContacto.get('nombre')?.errors?.['minlength']">
          (Debe tener como mínimo 3 caracteres)
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label>contraseña:</mat-label>
        <input matInput placeholder="Contraseña" type="text" formControlName="pass" required>
        <mat-error *ngIf="this.formularioContacto.get('pass')?.errors?.['required']">
          (Debe Ingresar una Contraseña)
        </mat-error>
        <mat-error *ngIf="this.formularioContacto.get('pass')?.errors?.['minlength']">
          (La contraseña debe tener minimo 6 caracteres)
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" >Confirmar</button>
      </mat-card-actions>
    </form>
    <div>{{resultado}}</div>
  </mat-card-content>

</mat-card>



